﻿@model PagedList.IPagedList<BrokerOffice.Models.batch_mast>
@using PagedList.Mvc;
@using WebMatrix.WebData
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
}


<div style="margin-left:5%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Batch</l>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Batch Number", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
          
            <th>
              Shares
            </th>
            <th>
              Amount
            </th>
        
            <th>
         Company
            </th>
            <th>
      Agent
            </th>
            <th>
                BrokerBatchRef
            </th>
                     <th>
               CreatedBy
            </th>
            <th>
             Applications
            </th>
           
            <th>
        @Html.ActionLink("Date Created", "Index", new { sortOrder = ViewBag.ModuleSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
         
           
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.batch_no)
                </td>
                          <td>
                    @Html.DisplayFor(modelItem => item.app_shares)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.app_cash)
                </td>
           
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrokerBatchRef)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apps)
                </td>
             
                <td>
                    @Html.DisplayFor(modelItem => item.datecreated)
                </td>
          
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Investor Applications", "Apps", new { id = item.batch_no })
                </td>
                <td>
                <i class="glyphicon glyphicon-lock"></i>
                        @Html.ActionLink("Authorize Batch", "SubmitBatch", new { id = item.ID })

                    
                 
                </td>
            </tr>
        }

    </table>
    </div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
    @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
