﻿@model BrokerOffice.Models.Registrar

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
    else if (User.IsInRole("General"))
    {
        Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    }
    else if (User.IsInRole("ApproverUser"))
    {
        Layout = "~/Views/Shared/_ApproverUserLayout.cshtml";
    }
}


<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Registrar Update</l>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Registrar</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.RegistrarID)
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ParticipantName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <hr />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ParticipantName, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin;width:200p" } })
                                @Html.ValidationMessageFor(model => model.ParticipantName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ParticipantCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <hr />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ParticipantCode, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin;width:200p" } })
                                @Html.ValidationMessageFor(model => model.ParticipantCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </td>

                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ParticipantType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <hr />
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.ParticipantType, (IEnumerable<SelectListItem>)ViewBag.Category, "Select Participant Type", new { id = "Module", @class = "form-control", @style = "border:solid;border-width:thin" })


                                @Html.ValidationMessageFor(model => model.ParticipantType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <hr />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin;width:200p" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                            <hr />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin;width:200p" } })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <hr />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin;width:200p" } })
                                @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                            <hr />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin;width:200p" } })
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ParticipantEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                            <hr />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ParticipantEmail, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin;width:200p" } })
                                @Html.ValidationMessageFor(model => model.ParticipantEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label col-md-6" })
                            <hr />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin;width:200p" } })
                                @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MaxUsers, htmlAttributes: new { @class = "control-label col-md-6" })
                            <hr />
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MaxUsers, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin;width:200p" } })
                                @Html.ValidationMessageFor(model => model.MaxUsers, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <hr />
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </table>

        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    </div>