﻿@model BrokerOffice.Models.para_issuer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="margin-left:10%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Add Issuer Form</l>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            <table class="table table-striped">
                <tr>

                    <td>

                        @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })

                    </td>

                    <td>

                        @Html.LabelFor(model => model.Issued_shares, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.EditorFor(model => model.Issued_shares, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                        @Html.ValidationMessageFor(model => model.Issued_shares, "", new { @class = "text-danger" })


                    </td>
                    <td>
                        @Html.LabelFor(model => model.registrar, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.DropDownListFor(model => model.registrar, (IEnumerable<SelectListItem>)ViewBag.Sel, "Select Registrar", new { @class = "form-control", @style = "border:solid;border-width:thin" })
                        @Html.ValidationMessageFor(model => model.registrar, "", new { @class = "text-danger" })


                    </td>
                    <td>
                        @Html.LabelFor(model => model.Add_1, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.EditorFor(model => model.Add_1, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                        @Html.ValidationMessageFor(model => model.Add_1, "", new { @class = "text-danger" })



                    </td>
                </tr>
                <tr>



                    <td>

                        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.DropDownListFor(model => model.Country, (IEnumerable<SelectListItem>)ViewBag.Departments, "Select Country", new { @class = "form-control", @style = "border:solid;border-width:thin" })


                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })

                    </td>

                    <td>

                        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.DropDownListFor(model => model.State, (IEnumerable<SelectListItem>)ViewBag.State, "Select State", new { id = "State", @class = "form-control", @style = "border:solid;border-width:thin" })
                    </td>
                    <td>

                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.DropDownListFor(model => model.City, (IEnumerable<SelectListItem>)ViewBag.City, "Select City", new { id = "City", @class = "form-control", @style = "border:solid;border-width:thin" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.Contact_Person, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.EditorFor(model => model.Contact_Person, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                        @Html.ValidationMessageFor(model => model.Contact_Person, "", new { @class = "text-danger" })


                    </td>

                </tr>
                <tr>


                    <td>
                        @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })


                    </td>



                    <td>
                        @Html.LabelFor(model => model.Cellphone, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.EditorFor(model => model.Cellphone, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                        @Html.ValidationMessageFor(model => model.Cellphone, "", new { @class = "text-danger" })


                    </td>

                    <td>
                        @Html.LabelFor(model => model.ISIN, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.EditorFor(model => model.ISIN, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                        @Html.ValidationMessageFor(model => model.ISIN, "", new { @class = "text-danger" })


                    </td>
                    <td>
                        @Html.LabelFor(model => model.date_listed, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.JQueryUI().DatepickerFor(model => model.date_listed, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } }).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)

                        @Html.ValidationMessageFor(model => model.date_listed, "", new { @class = "text-danger" })




                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })


                    </td>




                    <td>

                        @Html.LabelFor(model => model.website, htmlAttributes: new { @class = "" })
                        <br />
                        @Html.EditorFor(model => model.website, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                        @Html.ValidationMessageFor(model => model.website, "", new { @class = "text-danger" })

                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </td>
                </tr>



            </table>
        </div>





















}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/'); ;

}
<script type="text/javascript">
        $(function () {
            $("select").each(function () {
                if ($(this).find("option").length <= 1) {
                    $(this).attr("disabled", "disabled");
                }
            });

            $("select").change(function () {
                var value = 0;
                if ($(this).val() != "") {
                    value = $(this).val();
                }
                var id = $(this).attr("id");
                $.ajax({
                    type: "POST",
                    url: "@baseUrl/para_issuer/AjaxMethod",
                    data: '{type: "' + id + '", value: ' + value + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        var dropDownId;
                        var list;
                        switch (id) {
                            case "Country":
                                dropDownId = "#State";
                                list = response;
                                DisableDropDown("#City");
                                DisableDropDown("#State");
                                PopulateDropDown("#State", list);
                                break;
                            case "State":
                                dropDownId = "#City";
                                list = response;
                                DisableDropDown("#City");
                                PopulateDropDown("#City", list);
                                break;
                          }

                    },
                    failure: function (response) {
                        //alert(response.responseText);
                    },
                    error: function (response) {
                        //alert(response.responseText);
                    }
                });
            });
        });

        function DisableDropDown(dropDownId) {
            $(dropDownId).attr("disabled", "disabled");
            $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        }

        function PopulateDropDown(dropDownId, list) {
            if (list != null && list.length > 0) {
                $(dropDownId).removeAttr("disabled");
                $.each(list, function () {
                    $(dropDownId).append($("<option></option>").val(this['Value']).html(this['Text']));
                });
            }
        }

        $(function () {
            if ($("#Country").val() != "" && $("#City").val() != "" && $("#State").val() != "") {
                var message = "Country: " + $("#Country option:selected").text();
                 message += "\nCity: " + $("#City option:selected").text();
                //alert(message);
            }
        });
</script>
