﻿@model BrokerOffice.Models.Client_Types

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Edit Client Types Form</l>
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Client_TypesID)

         <table class="table table-striped">
             <tr>
                 <td>
                     <div class="form-group">
                         @Html.LabelFor(model => model.ClientType, htmlAttributes: new { @class = "control-label col-md-4" })
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.ClientType, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                             @Html.ValidationMessageFor(model => model.ClientType, "", new { @class = "text-danger" })
                         </div>
                     </div>
                 </td>
                 <td>
                     <div class="form-group">
                         @Html.LabelFor(model => model.TaxCode, htmlAttributes: new { @class = "control-label col-md-4" })
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.TaxCode, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                             @Html.ValidationMessageFor(model => model.TaxCode, "", new { @class = "text-danger" })
                         </div>
                     </div>
                 </td>
                 <td>
                     <div class="form-group">
                         @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-4" })
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                             @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                         </div>
                     </div>
                 </td>
             </tr>
         </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
