﻿@model IEnumerable<BrokerOffice.Models.TradingBoard>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Trading Board</l>
    </div>
    <table class="table">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.BoardCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.BoardCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardDescription)
                </td>

                <td>
                    <a href="@Url.Action("Edit", new { id = item.TradingBoardID })">
                        <i class="glyphicon glyphicon-pencil"></i>

                    </a>
                    |
                    <a href="@Url.Action("Details", new { id =item.TradingBoardID })">
                        <i class="glyphicon glyphicon-file"></i>

                    </a>
                    |
                    <a href="@Url.Action("Delete", new { id = item.TradingBoardID  })">
                        <i class="glyphicon glyphicon-trash"></i>

                    </a>
                    @*|
                    <a href="@Url.Action("TradingPlatform", new { id = item.TradingBoardID  })">
                        <i class="glyphicon glyphicon-transfer">Trading Platform</i>

                    </a>*@
                </td>
            </tr>
        }

    </table>
    </div>