﻿@model BrokerOffice.Models.Holidays

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
    else if (User.IsInRole("General"))
    {
        Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    }

}




<div>
    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Public Holidays</l>
        </div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.HolidayName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HolidayName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HolidayDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HolidayDate)
            </dd>

        </dl>
    </div>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HolidayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
