﻿@model BrokerOffice.Models.Task

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Update Task</l>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TaskID)

        <div class="form-group">
            @Html.LabelFor(model => model.TaskTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaskTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TaskTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaskDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaskDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TaskDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaskUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TaskUser, (IEnumerable<SelectListItem>)ViewBag.Category, null, htmlAttributes: new { @class = "form-control", @style = "width:150px" })
                @Html.ValidationMessageFor(model => model.TaskUser, "", new { @class = "text-danger" })
            </div>
        </div>

     

        <div class="form-group">
            @Html.LabelFor(model => model.TaskDue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.JQueryUI().DatepickerFor(model => model.TaskDue).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)

                @Html.ValidationMessageFor(model => model.TaskDue, "", new { @class = "text-danger" })
            </div>
        </div>
     

            <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.TaskUserID, new { htmlAttributes = new { @class = "form-control",@style="visibility:hidden" } })

            @Html.EditorFor(model => model.percentagedone, new { htmlAttributes = new { @class = "form-control", @style = "visibility:hidden" } })
        
            @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control", @style = "visibility:hidden" } })


            @Html.EditorFor(model => model.fromUser, new { htmlAttributes = new { @class = "form-control", @style = "visibility:hidden" } })



            @Html.EditorFor(model => model.fromUserID, new { htmlAttributes = new { @class = "form-control",@style = "visibility:hidden" } })
            </div>

       
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
