﻿@model BrokerOffice.Models.LoginViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Login.cshtml";

}







@using (Html.BeginForm(new { autocomplete = "off" }))
{ @Html.AntiForgeryToken()

    <div class="pen-title">
        <img src="~/images/bbo.png" width="25%" height="100%" class="img-responsive" />
    </div>
    <!-- Form Module-->
    <div class="module form-module">
        <div class="toggle">
            <i class="fa fa-times fa-pencil"></i>
            <div class="tooltip">Click Me</div>
        </div>
        <div class="form">
            <h2>Forgot Password</h2>
            <form>

                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email is required" }, })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                <h3>@ViewBag.Message</h3>

                <div class="form-group">

                    <input id="Confirm" type="submit" value="Confirm" name="Confirm" class="btn btn-success" />


                    <a href="~/Account"><input type="button" value="Login" class="btn btn-success" /></a>

                </div>
            </form>

        </div>

     
      
    </div>

}

