﻿@model BrokerOffice.Models.Company

@{
    ViewBag.Title = "Dashboard Parameters";
}
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }

}


<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Dashboard Parameters</l>
    </div>

    <div class="form-horizontal">
       


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <h4 class="m-t-0 header-title"><b>Select Company</b></h4>

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <table class="table">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.company, (IEnumerable<SelectListItem>)ViewBag.Role, new { @class = "form-control", @style = "width:400px;border:solid;border-width:thin" })


                                            @Html.ValidationMessageFor(model => model.company, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Go To  Broker Dashboard" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>


            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }


        </div>
   </div>