﻿@using DevExpress.DashboardCommon
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title>Broker Office Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="Statistics Dashboard" name="description" />
    <meta content="ThemeDesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--<link rel="shortcut icon" href="assets/images/favicon.ico">-->
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Dashboard/assets/plugins/morris/morris.css")">

    <link href="@Url.Content("~/Dashboard/assets/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Dashboard/assets/css/icons.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Dashboard/assets/css/style.css")" rel="stylesheet" type="text/css">
</head>

<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
       
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="">
                        <div class="pull-left">
                            
                            @{

                                if (User.IsInRole("Admin"))
                                {
                                    <a href="~/Admin/Index">
                                        <button type="button" class="button-menu-mobile open-left waves-effect waves-light">
                                            <i class="glyphicon glyphicon-home"></i>
                                        </button>
                                    </a>
                                 }
                                else if (User.IsInRole("User"))
                                {
                                    <a href="~/User/Index">
                                        <button type="button" class="button-menu-mobile open-left waves-effect waves-light">
                                            <i class="glyphicon glyphicon-home"></i>
                                        </button>
                                    </a>
                                  }
                                else if (User.IsInRole("Approver"))
                                {
                                    <a href="~/Approver/Index">
                                        <button type="button" class="button-menu-mobile open-left waves-effect waves-light">
                                            <i class="glyphicon glyphicon-home"></i>
                                        </button>
                                    </a>
                                }
                                else if (User.IsInRole("BrokerAdmin"))
                                {
                                    <a href="~/BrokerAdmin/Index">
                                        <button type="button" class="button-menu-mobile open-left waves-effect waves-light">
                                            <i class="glyphicon glyphicon-home"></i>
                                        </button>
                                    </a>
                                }

                            }
                           
                            <span class="clearfix"></span>
                        </div>
                       
                        
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->

            <!-- end sidebarinner -->
       
        <!-- Left Sidebar End -->
        <!-- Start right Content here -->

        <div class="content-page" style="border: solid;margin-left:-15px;">
            <!-- Start content -->
            <div class="content" style="margin:0 !important">

                <div class="">
                    <div class="page-header-title">
                        <h4 class="page-title">C-Trade Market Watch</h4>
                    </div>
                </div>

                <div class="page-content-wrapper ">

                    <div class="container">

                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <h4 class="m-b-30 m-t-0">MARKET WATCH</h4>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="table-responsive">
                                                    <table class="table table-hover m-b-0">
                                                        <thead>
                                                            <tr>
                                                              <th style="font-size:10pt">COMPANY</th>  
                                                               <th style="font-size:10pt">BEST BID(VOLUME)</th> 
                                                                <Th style="font-size:10pt">BID PRICE</Th>
                                                                <th style="font-size:10pt">VOLUME(ASK)</th>
                                                                <th style="font-size:10pt">ASK PRICE</th>
                                                              <th style="font-size:10pt">LAST PRICE</th> 
                                                                <th style="font-size:10pt">LAST VOLUME</th>
                                                               <th style="font-size:10pt">TRADED VOLUME</th>
                                                               <th style="font-size:10pt">TURNOVER</th>
                                                               <th style="font-size:10pt">OPEN</th> 
                                                                <th style="font-size:10pt">HIGH</th>
                                                                <th style="font-size:10pt">LOW</th>
                                                                 <th style="font-size:10pt">CHANGE</th>
                                                                 <th style="font-size:10pt">CHANGE %</th>
                                                              </tr>

                                                        </thead>
                                                        <tbody>
                                                        @foreach(var p in ViewBag.ListB)
                                                            {
                                                        <tr>
                                                            
                                                                                                                              @if (p.percchange > 0)
                                                                                                                              {
                                                                                                                                <td>
                                                                                                                              @p.company

                                                                    <img width="20" height="20" src="~/market/icons8-sort-up-50.png" />
                                                                </td>
                                                                                                                              }
                                                                                                                              else
                                                                                                                              {
                                                                                                                                <td>
                                                                                                                             @p.company
                                                                @Math.Round(Convert.ToDouble(p.Volume), 0).ToString()
                                                            <img width="20" height="20" src="~/market/icons8-sort-down-50.png" />
                                                        </td>
                                                                  }
                                                           <td>@Math.Round(Convert.ToDouble(p.Volume), 0).ToString()</td>
                                                            <td>@Math.Round(Convert.ToDouble(p.Bid), 0).ToString()</td>
                                                            <td>@Math.Round(Convert.ToDouble(p.Volume_Sell), 4).ToString()</td>
                                                            <td>@Math.Round(Convert.ToDouble(p.Ask), 4).ToString()</td>
                                                            <td>@Math.Round(Convert.ToDouble(p.Last_Traded_Price), 4).ToString()</td>
                                                            <td>@Math.Round(Convert.ToDouble(p.lastvolume), 0).ToString()</td>
                                                            <td>@Math.Round(Convert.ToDouble(p.TotalVolume), 0).ToString()</td>
                                                            <td>@Math.Round(Convert.ToDouble(p.Turnover), 4).ToString()</td>
                                                            <td>@Math.Round(Convert.ToDouble(p.Open), 4).ToString()</td>
                                                            <td>@Math.Round(Convert.ToDouble(p.High), 4).ToString()</td>
                                                            <td>@Math.Round(Convert.ToDouble(p.Low), 4).ToString()</td>
                                                            <td>@Math.Round(Convert.ToDouble(p.Change), 4).ToString()</td>
                                                            @if (p.percchange > 0)
                                                            {
                                                                <td>@Math.Round(Convert.ToDouble(p.percchange), 4).ToString() <img width="20" height="20" src="~/market/icons8-sort-up-50.png" /></td>

                                                            }
                                                            else if (p.percchange == 0)
                                                            {
                                                                <td style="color:red">0.0000<img width="20" height="20" src="~/market/icons8-sort-down-50 (2).png" /></td>

                                                            }
                                                            else
                                                            {
                                                                <td style="color:red">@Math.Round(Convert.ToDouble(p.percchange), 4).ToString()<img  width="20" height="20" src="~/market/icons8-sort-down-50 (2).png" /></td>



                                                            }


                                                        </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->

                        </div>
                        <!-- end row -->



                    </div><!-- container -->


                </div> <!-- Page content Wrapper -->

            </div> <!-- content -->

            <footer class="footer">
                ©2017 Escrow Systems - All Rights Reserved.
            </footer>

        </div>
        <!-- End Right content here -->

    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="@Url.Content("~/Dashboard/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/detect.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/fastclick.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/jquery.slimscroll.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/jquery.blockUI.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/waves.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/wow.min.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/jquery.nicescroll.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/js/jquery.scrollTo.min.js")"></script>

    <!--Morris Chart-->
    <script src="@Url.Content("~/Dashboard/assets/plugins/morris/morris.min.js")"></script>
    <script src="@Url.Content("~/Dashboard/assets/plugins/raphael/raphael-min.js")"></script>

    <script src="@Url.Content("~/Dashboard/assets/pages/dashborad.js")"></script>

    <script src="@Url.Content("~/Dashboard/assets/js/app.js")"></script>

</body>
</html>
