﻿@model BrokerOffice.Models.GeneralLedgerAcc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Details General Ledger Accounts</l>
    </div>

    <div>
        <h4>GeneralLedgerAcc</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.GeneralLedgerAccID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>