﻿@model BrokerOffice.Models.BatchApplication

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Details</l>
    </div>
        <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberofshares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberofshares)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
