﻿@model BrokerOffice.Models.Modules

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:white">Details</l>
    </div>
    <hr />

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Roles.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModulesName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModulesName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ControllerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControllerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.webFormUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.webFormUrl)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModulesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
