﻿@model BrokerOffice.Models.IncomeStatement

@using PagedList.Mvc;
@using WebMatrix.WebData
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
    else if (User.IsInRole("ApproverUser"))
    {
        Layout = "~/Views/Shared/_ApproverUserLayout.cshtml";
    }
}






@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Income Statement Monthly </l>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.DateHeld, htmlAttributes: new { @class = "" })
                <br />
                    Select date and search will be for that Month   
                 </div>
                    <div class="col-md-10">
                        @Html.JQueryUI().DatepickerFor(model => model.DateHeld).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                        @Html.ValidationMessageFor(model => model.DateHeld, "", new { @class = "text-danger" })
                    </div>
                </div>
         
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="View" class="btn btn-primary" />
                    </div>
                </div>
            </form>
</div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


