﻿@model BrokerOffice.Models.Brokerage

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()


    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Add Brokerage Form</l>
        </div>
        <hr />
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table class="table table-striped">
            <tr>
                <td>

                    @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })


                </td>
                <td>


                    @Html.LabelFor(model => model.OperatingAddress, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.OperatingAddress, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.OperatingAddress, "", new { @class = "text-danger" })


                </td>
            </tr>
            <tr>
                <td>

                    @Html.LabelFor(model => model.PrincipalAgent, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.DropDownListFor(model => model.PrincipalAgent, (IEnumerable<SelectListItem>)ViewBag.Dlyp, null, htmlAttributes: new { @class = "form-control", @style = "width:150px" })

                    @Html.ValidationMessageFor(model => model.PrincipalAgent, "", new { @class = "text-danger" })

                </td>
                <td>
                    <div class="form-group" style="visibility:hidden">
                        @Html.LabelFor(model => model.brokername, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.brokername, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                        @Html.ValidationMessageFor(model => model.brokername, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
