﻿@model IEnumerable<BrokerOffice.Models.ContentViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
    <div class="panel-heading" style="background-color:#428bca">
        <l style="color:#428bca"> @User.FirstName</l>
    </div>
    <h4>Profile Status</h4>



    <br />
    <table class="table table-responsive">
        <tr>
          
            <th>
                <b>Image</b>
            </th>
           
            <th>
                Status
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
               

                <td>
                    <img src="~/AccountPhoto/RetrieveImage/@item.ID" alt="" height=100 width=100 />
                </td>
              
                <td>
@Html.ActionLink("Delete", "DeleteImage", new { id = item.ID }, new { onclick = "return confirm('Are you sure you want to add or remove photo?');" })
                </td>
            </tr>
        }
    </table>
</div>