﻿@model BrokerOffice.Models.para_bank

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="margin-left:15%;margin-right:10%;background:white" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Edit Bank Form</l>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <table class="table table-striped">
            <tr>
                <td>

                    @Html.LabelFor(model => model.bank, htmlAttributes: new { @class = "control-label col-md-4" })
                
                    @Html.EditorFor(model => model.bank, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.bank, "", new { @class = "text-danger" })

                </td>
                <td>

                    @Html.LabelFor(model => model.bank_name, htmlAttributes: new { @class = "control-label col-md-4" })
                    
                    @Html.EditorFor(model => model.bank_name, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                    @Html.ValidationMessageFor(model => model.bank_name, "", new { @class = "text-danger" })

                </td>
                <td>

               
                </td>
            </tr>
            <tr>
                <td>

                    @Html.LabelFor(model => model.eft, htmlAttributes: new { @class = "control-label col-md-4" })
                
                    <div class="checkbox">
                        @Html.EditorFor(model => model.eft, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
         @Html.ValidationMessageFor(model => model.eft, "", new { @class = "text-danger" })
                    </div>


                </td>
                <td></td>
                <td></td>
            </tr>
        </table>

          
           
               
         
   

       

      

     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
